body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    padding: 1rem;
}

.player {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.controls {
    /* margin: 0 auto; */
    /* visibility: hidden; */
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

button {
    padding: 1rem;
}