body {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  overflow-x: hidden;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;

}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.player {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: space-around;
}

.players {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  height: 40vh;
  width: 80vw;
}
#score-board {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

}
#score-board p {
    font-size: large;
}

.controls {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: xx-large;
  font-weight: bold;
  height: 1rem;
}

.choice-box {
  font-size: xx-large;
  color: rgb(224, 55, 55);
  padding: 1rem;
}

button {
  background-color: aliceblue;
  font-size: xx-large;
  padding: 1rem;
  transition: all 1s;
}

button:focus {
  background-color: #e6e92c;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.load {
  width: 50px;
  height: 50px;
  margin: auto 0;
  background: #500606;
  border: solid 10px #a11212;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
